* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

html {
  color-scheme: light dark;
}

a {
  color: inherit;
  text-decoration: none;
}

.flex {
  display: grid;
  grid-template-columns: auto auto auto;
  // gap: 1rem;
  flex-wrap: wrap;
}

.white2 {
  color: var(--clr-white2);
  font-size: 0.7rem;
}

.arrowRight {
  color: var(--clr-white2);
  transition: all 0.3s;

  &:hover {
    color: var(--clr-white);
    transform: scale(1.2);
  }
}
